

.columns > div {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 25px 0;
  background-color: var(--main-color-accent);
  color: var(--background-color);
  border-radius: 20px;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
  border-radius: 20px 0 0 20px;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}


.columns-wrapper .columns h1,
.columns-wrapper .columns h2,
.columns-wrapper .columns h3,
.columns-wrapper .columns h4,
.columns-wrapper .columns h5,
.columns-wrapper .columns h6 {
  line-height: 50px;
  padding-right: 24px;
  margin: 10px 0 20px;
}

.columns-wrapper .columns p {
  font-size: 20px;
  line-height: 28px;
  padding-right: 24px;
  margin: 0;
}

.columns-wrapper .columns a,
.columns-wrapper .columns a:hover {
  color: var(--background-color);
}

.columns-wrapper .columns a.button {
  color: var(--background-color);
  background-color: var(--color-brand-1000);
  border: none;
  text-transform: uppercase;
}